<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="functional" verbose="2" allow-return-values="true">
<!--
 
	<listeners>
	<listener class-name="javafiles.TestReportListener"></listener>
	</listeners>

 -->
	<test name="positive" preserve-order="true">
		<classes>
			<class name="projectdemo.BrowserLaunch" />
		</classes>
	</test>

</suite>